html{
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.menu-section {
    padding: 20px;
    background-color: #014137;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}

h2 {
    color: rgb(255, 210, 7);
    font-size: 2rem;
}

h3 {
    color: rgb(231, 147, 12);
    font-size: 1.5rem;
}
.dish {
    margin-bottom: 10px;
    color: #e4cdb4;
    font-size: larger;
    
}
.price {
    float: right;
    color:  #e4cdb4;
    font-size: medium;
}

#Appetizers{
    background-color: #fff;
    height: 370px;
}

#Starters{
    height: auto;
}

.c1{
    color: #000000;
}
.he{
    background-color:#014137;
    padding: 10px ;
    color: #e4cdb4;
    box-shadow:0px 0px 10px rgb(255, 210, 7);
}

fieldset{
    border: 2px solid #e4cdb4;
}
